<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="Images/sprite.svg#icons_snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
        ratione possimus dicta. Inventore sint illo neque atque dignissimos
        impedit iste assumenda ratione sit excepturi similique quaerat
        deserunt voluptatum officia quia eius, labore natus ullam architecto
        possimus sequi eveniet necessitatibus nulla iusto? Nihil tenetur
        possimus necessitatibus quam, suscipit assumenda? Accusantium,
        deleniti.
      </p>
    </div>
  </div>