<section class="block block--dark block--skewed-right blcok-showcase">
  <header class="block__header">
    <h2 class="showcase__header">User-friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="Images/images_ipad.webp 1x, Images/images_ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="Images/images_ipad.png 1x, Images/images_ipad@2x.png 2x"
      />
      <img src="Images/images_ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="Images/sprite.svg#icons_snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
              porro ad voluptate laborum! Quibusdam illum facere dolores
              exercitationem temporibus ratione?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="Images/sprite.svg#icons_growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
              porro ad voluptate laborum! Quibusdam illum facere dolores
              exercitationem temporibus ratione?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="Images/sprite.svg#icons_wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
              porro ad voluptate laborum! Quibusdam illum facere dolores
              exercitationem temporibus ratione?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
